parameters:
    level: 3

    paths:
        - examples/
        - src/
        - tests/

    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        # ignore generic usage like `PromiseInterface<T>` until fixed upstream
        - '/^PHPDoc tag @return contains generic type React\\Promise\\PromiseInterface<.+> but interface React\\Promise\\PromiseInterface is not generic\.$/'
        # ignore undefined methods due to magic `__call()` method
        - '/^Call to an undefined method Clue\\React\\Redis\\RedisClient::.+\(\)\.$/'
        - '/^Call to an undefined method Clue\\React\\Redis\\Io\\StreamingClient::.+\(\)\.$/'
